.experiences{
    display: flex;
    flex-direction: column;

}
.experiences-body{
    /*Antes estaba  background-color con la variable en main css*/
    background: linear-gradient(180deg,#004790,#010048);;
    color: var(--text-color-inverse);
}

.wave{
    width: 100%;
    position: relative;
    top: 2px;
    transform: scaleY(-1);
}
.wave-bottom{
    transform: scaleY(1);
    top: -2px;
}
.experiences-title{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 25px;
}
.experience-date{
    font-size: 25px;
    font-weight: bold;
    font-family: oswald;
    color: var(--secundary-color);

}

.experience-company{
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 5px;

}
.experience-position{
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;

}
.experience-description{
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

.experience{
    padding: 25px;
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
}

.seccion-videos{
    display: block;
    text-align: center;
    justify-content: center;
    margin: 5px;
}
.contenido-video1{
    width: 100%;
    height: 200px;
}
.contenido-video2{
    width: 100%;
    height: 200px;
}
/*
.seccion-videos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
*/
@media(min-width:950px){

    .experiences-title{
        font-size: 50px;
        margin: 35px 0;
    }
    .experience-date{
        font-size: 40px;
    
    }
    .experience-company{
        font-size: 25px;
    
    }
    .experience-position{
        font-weight: bold;
        font-size: 20px;
        margin-top: 20px;
    
    }
    .experience-description{
        font-size: 20px;
        margin-top: 10px;
        line-height: 1.3;
    }
    
    .experience{
        padding: 0;
    }
    


    .experience_left{
        text-align: right;
    }


    .experiences-grid{
        display: grid;
        grid-template-columns: auto 2px auto;
        gap: 20px 70px;
        padding: 70px;
        justify-content: center;
        max-width: 980px;
        margin: 0 auto;
    }

    .line{
        background-color: var(--text-color-inverse);
        position: relative;

    }
    .line::before,
    .line::after{
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-color: var(--text-color-inverse);
        border-radius: 50%;

        position: absolute;
        top: -20px;
        left: -9px;

    }




    .line::after{
        top: 100%;
        z-index: 1;
    }



    .video1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        margin-top: 20px;
        
        
    }

    .video2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        margin-top: 20px;
        
        
        
    }
    
    .contenido-video1{
        justify-content: center;
        height: 300px;
        
    }

    .contenido-video2{
        justify-content: center;
        height: 300px;
    }

    .videos-titulo{
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;

    }
}