:root{
    --theme-color: rgb(255, 255, 255);
    --primary-color:#124f88;
    --secundary-color: #F7C331;
    --text-color-inverse: white;
    --text-color:black;
    --navbar-shallow-color:orangered;
    --menu-mobile-background-color:#001d6d;

    --primary-color-wave: #0CA914;

    /*#0CA914*/
}

html{
    scroll-behavior:smooth;
}

section[id]{
    scroll-margin-top: 125px;
}
section[id="experiences"]{
    scroll-margin-top: -60px;
}

/*
font-family: 'Handjet', cursive;
font-family: 'Manrope', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Teko', sans-serif;
Franklin  -- no descargada pero la muestra, posible fallo
*/
body{
    font-family: 'Manrope', sans-serif;
    /*font-family: 'Orbitron', sans-serif, franklin;*/
    color: var(--text-color);
    background-color: var(--theme-color);
    padding-top: 78px;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.horizontal-padding{
    padding-left: 25px;
    padding-right: 25px;

}

.vertical-padding{
    padding-top: 25px;
    padding-bottom: 25px;
}

@media(min-width:950px){
    .horizontal-padding{
        padding-left: 70px;
        padding-right: 70px;
    
    }
    
    .vertical-padding{
        padding-top: 70px;
        padding-bottom: 70px;
    }

}

.s-center{
    text-align: center;
}
@media screen and (min-width: 980px){
    .s-center{
        text-align: left;
    }
}

.flex{
    display: flex;
}