.skills{
    max-width: 980px;
    margin: 0 auto;
    padding: 0;
}

.skills-title, 
.egresados-title{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}


.skills-skill{
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 4px;
    border-radius: 42px;
    padding: 0.5em 0.7em;
    margin: 10px;
}

.skills-list{
    list-style: none; /*no aparecer los puntos de lista por defecto*/
    padding: 0;
    /* elementos formados lado a lado */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    
}

.parrafo-habilidades{
    font-size: 20px;
    font-weight: 100;
    font-family: oswald;
    text-align: center;
    
}

.parrafo-egresados{
    font-size: 20px;
    font-weight: 100;
    font-family: oswald;
    text-align: center;
    list-style:none;

    
}

.carousel-inner img{
    max-height: 39rem;
}




@media(min-width:950){
    .skills-title{
        font-size: 50px;
    }
    
    .skills-skill{
        font-size: 30px;
        
        margin: 20px;
    }
    
    .skills-list{
        list-style: none; /*no aparecer los puntos de lista por defecto*/
        padding: 0;
        /* elementos formados lado a lado */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


   
    

   

   
}