.skills{
    max-width: 980px;
    margin: 0 auto;
    padding: 0;
}

.skills-title, 
.egresados-title{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: orbitron;
}
.skills-title-especialidad{
    font-size: 20px;
    text-align: center;
}

.skills-skill{
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 4px;
    border-radius: 42px;
    padding: 0.5em 0.7em;
    margin: 10px;
}

.skills-mecatronica{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,107,121,0.9976365546218487) 2%, rgba(0,212,255,1) 100%);
}
.skills-programacion{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,241,235,1) 2%, rgba(0,91,255,1) 35%);
}
.skills-digital{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,241,235,0.7539390756302521) 5%, rgba(115,0,255,0.7847514005602241) 35%);
}

.skills-list{
    list-style: none; /*no aparecer los puntos de lista por defecto*/
    padding: 0;
    /* elementos formados lado a lado */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    
}

.parrafo-habilidades{
    font-size: 20px;
    font-weight: 100;
    font-family: oswald;
    text-align: center;
    
}

.parrafo-egresados{
    font-size: 20px;
    font-weight: 100;
    font-family: oswald;
    text-align: center;
    list-style:none;

    
}

.carousel-inner img{
    max-height: 39rem;
}

.parrafo-egresados-carrusel{
    text-align: center;
    color: gray;
    font-size: 25px;
    margin: 0 0;
}




@media(min-width:950){
    .skills-title{
        font-size: 50px;
    }
    
    .skills-skill{
        font-size: 30px;
        
        margin: 20px;
    }
    
    .skills-list{
        list-style: none; /*no aparecer los puntos de lista por defecto*/
        padding: 0;
        /* elementos formados lado a lado */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .parrafo-egresados-carrusel{
        color: gray;
        font-size: 30px;
    

    }
    

   
    

   

   
}