/*

html, body{
    height: 100%;
    width: 100%;

    margin: 0;

}

Esta es la fuente por defecto de los textos but esta igual en el main css

body{
    font-family: Manrope, sans-serif;
    line-height: 1.6;
}

*/

